@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* أنماط مخصصة يمكنك إضافتها هنا لاحقاً */
body {
  font-family: 'cairo', 'sans-serif';
}
/* --- ✅ أنماط أنيميشن اكتساب الخبرة --- */
@keyframes xp-float-up {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    25% {
        transform: translate(-50%, -100%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -250%) scale(1.2);
        opacity: 0;
    }
}

.xp-gain-animation {
    animation: xp-float-up 2s ease-out forwards;
}
